/* Dokumentation v0.1.0 | MIT License | github.com/tobiasroeder/Dokumentation */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 16px;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    color: #434548;
  }
  
  a {
    color: #5e96c3;
    text-decoration: none;
    word-break: break-word;
  }
  
  .button {
    display: inline-block;
    text-align: center;
    background-color: #5e96c3;
    color: #ffffff;
    border-radius: 0.2rem;
    padding: 0.5rem 0.75rem;
    transition: background 0.1s ease-in;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .button:hover {
    background-color: #629ac8;
  }
  .button:active {
    background-color: #5385ae;
  }
  
  h1 {
    color: #14171a;
    font-weight: 700;
  }
  
  h2 {
    color: #14171a;
    font-weight: 700;
  }
  
  h3 {
    color: #14171a;
    font-weight: 700;
  }
  
  h4 {
    color: #14171a;
    font-weight: 700;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 2.75rem;
    letter-spacing: 0.025rem;
    font-weight: 700;
    line-height: 2.4rem;
    word-break: break-word;
  }
  
  h2 {
    font-size: 2.25rem;
    line-height: 2.25rem;
    letter-spacing: -0.025rem;
    margin-bottom: 1.5rem;
  }
  
  h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 1.25rem;
  }
  
  h4 {
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0.025rem;
    margin-bottom: 1.5rem;
  }
  
  small {
    font-size: 0.75rem;
  }
  
  hr {
    border: 0;
    margin-top: 2rem;
    border-bottom: 2px solid #ccd6dd;
    margin-bottom: 2.75rem;
  }
  
  p {
    padding-bottom: 1.25rem;
  }
  
  pre,
  code {
    font-family: "Courier New", Courier, monospace;
  }
  
  pre {
    overflow: auto;
    background-color: #f3f7fa !important;
    padding: 1rem;
    border-radius: 0.2rem;
    margin-bottom: 1.25rem;
  }
  pre code {
    background-color: inherit;
    border-radius: 0;
    padding: 0;
  }
  
  code {
    background-color: #f3f7fa !important;
    color: #14171a;
    border-radius: 0.2rem;
    padding: 0.1rem 0.2rem;
  }
  
  table {
    display: block;
    overflow: auto;
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 1.25rem;
  }
  table tr:nth-child(even) td {
    background-color: #f3f7fa;
  }
  table tr th {
    background-color: #f3f7fa;
  }
  table tr th,
  table tr td {
    padding: 0.75rem 1rem;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  ul,
  ol {
    margin-left: 2.5rem;
    padding-bottom: 1.25rem;
  }
  ul p,
  ol p {
    padding-bottom: 0;
  }
  ul li,
  ol li {
    padding-top: 0.4rem;
  }
  
  blockquote {
    border-left: 2px solid #ccd6dd;
    background-color: #f3f7fa;
    padding: 1rem;
    font-style: italic;
    margin-bottom: 1.25rem;
  }
  blockquote p:last-of-type {
    padding-bottom: 0;
  }
  
  q {
    font-style: italic;
  }
  
  #skip-to-content {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    top: -1rem;
  }
  #skip-to-content:focus {
    position: fixed;
    top: 1rem;
    left: 1rem;
    height: auto;
    width: auto;
  }
  
  html,
  body,
  .site-container {
    height: 100%;
  }
  
  .site-container {
    display: flex;
    flex-direction: column;
  }
  
  header.site-header,
  main.site-main,
  footer.site-footer {
    padding: 0 max(1rem, (100% - 48.75rem) / 2);
  }
  
  header.site-header {
    padding-top: 5rem;
  }
  
  main.site-main {
    flex: 1;
    padding-bottom: 5rem;
  }
  
  footer.site-footer {
    background-color: #14171a;
    color: rgba(255, 255, 255, 0.6);
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  @media screen and (max-width: 30rem) {
    header.site-header {
      padding-top: 2.5rem;
    }
    header.site-header .button {
      display: block;
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
  