// Font sizes
$root-font-size: 16px;

// Widths
$content-width: 48.75rem;

// Colors
$color-black: #14171a;
$color-black-lighter: #434548;
$color-grey: #ccd6dd;
$color-grey-light: #f3f7fa;
$color-white: #ffffff;
$color-blue: #5e96c3;
$color-blue-lighter: #629ac8;
$color-blue-darker: #5385ae;
