/*! Dokumentation v0.1.0 | MIT License | github.com/tobiasroeder/Dokumentation */

@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $root-font-size;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        sans-serif;
    background-color: $color-white;
    color: $color-black-lighter;
}

a {
    color: $color-blue;
    text-decoration: none;
    word-break: break-word;
}

.button {
    display: inline-block;
    text-align: center;
    background-color: $color-blue;
    color: $color-white;
    border-radius: 0.2rem;
    padding: 0.5rem 0.75rem;
    transition: background 0.1s ease-in;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;

    &:hover {
        background-color: $color-blue-lighter;
    }

    &:active {
        background-color: $color-blue-darker;
    }
}

@for $i from 1 through 4 {
    h#{$i} {
        color: $color-black;
        font-weight: 700;
    }
}

// body.underline-heading {
//     @for $i from 2 through 4 {
//         h#{$i} {
//             padding-bottom: 1rem;
//             border-bottom: 2px solid $color-grey;
//         }
//     }
// }

h1 {
    font-size: 3rem;
    margin-bottom: 2.75rem;
    letter-spacing: 0.025rem;
    font-weight: 700;
    line-height: 2.4rem;
    word-break: break-word;
}

h2 {
    font-size: 2.25rem;
    line-height: 2.25rem;
    letter-spacing: -0.025rem;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 1.25rem;
}

h4 {
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0.025rem;
    margin-bottom: 1.5rem;
}

small {
    font-size: 0.75rem;
}

hr {
    border: 0;
    margin-top: 2rem;
    border-bottom: 2px solid $color-grey;
    margin-bottom: 2.75rem;
}

p {
    padding-bottom: 1.25rem;
}

pre,
code {
    font-family: 'Courier New', Courier, monospace;
}

pre {
    overflow: auto;
    background-color: $color-grey-light !important;
    padding: 1rem;
    border-radius: 0.2rem;
    margin-bottom: 1.25rem;

    code {
        background-color: inherit;
        border-radius: 0;
        padding: 0;
    }
}

code {
    background-color: $color-grey-light !important;
    color: $color-black;
    border-radius: 0.2rem;
    padding: 0.1rem 0.2rem;
}

table {
    display: block;
    overflow: auto;
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 1.25rem;

    tr {
        &:nth-child(even) {
            td {
                background-color: $color-grey-light;
            }
        }

        th {
            background-color: $color-grey-light;
        }

        th,
        td {
            padding: 0.75rem 1rem;
        }
    }
}

img {
    display: block;
    max-width: 100%;
}

ul,
ol {
    margin-left: 2.5rem;
    padding-bottom: 1.25rem;

    // ul, ol
    p {
        padding-bottom: 0;
    }

    li {
        padding-top: 0.4rem;
    }
}

blockquote {
    border-left: 2px solid $color-grey;
    background-color: $color-grey-light;
    padding: 1rem;
    font-style: italic;
    margin-bottom: 1.25rem;

    & p:last-of-type {
        padding-bottom: 0;
    }
}

q {
    font-style: italic;
}

#skip-to-content {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    top: -1rem;

    &:focus {
        position: fixed;
        top: 1rem;
        left: 1rem;
        height: auto;
        width: auto;
    }
}

html,
body,
.site-container {
    height: 100%;
}

.site-container {
    display: flex;
    flex-direction: column;
}

header.site-header,
main.site-main,
footer.site-footer {
    padding: 0 max(1rem, (100% - $content-width) / 2);
}

header.site-header {
    padding-top: 5rem;
}

main.site-main {
    flex: 1;
    padding-bottom: 5rem;
}

footer.site-footer {
    background-color: $color-black;
    color: rgba($color-white, 0.6);
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media screen and (max-width: 30rem) {
    header.site-header {
        padding-top: 2.5rem;

        .button {
            display: block;
            margin-right: 0;
            margin-bottom: 1rem;
        }
    }
}
